vpc_name    = "vpcname which acts as the project name"
db_password = "database password"
db_username = "database username"
kms_key_id  = "arn of aws kms key"
db_name     = "database name"
repo-name   = "ecr repository name"
certificate_arn = "arn for SSL/TLS certificate"
image_tag = "image tag for container, default is latest"
container_path = "path of container to create as volume"